{% extends 'meetups/base/base.html' %}

{% load static %}

    {% block title %} All Meetups {% endblock %}

    {% block site_css %} {% endblock %}
  
</head>
<body class="p-2">

    <header class="shadow p-2 m-auto">
        <nav>
            <a href="/meetups">DjangoMeetups</a>
             {% block main_heading %} We got great meetups coming up!{% endblock %}
            {% block header_content %} <p> Find the one that suits you!</p> {% endblock %}
        </nav>
    </header>

    <main class="m-auto shadow mt-3 p-auto">
       {% block body %} 
        <section>
            <h2>Upcoming Meetups</h2>
            <ol class="d-flex">
                {% for meetup_item in meetups %} 
                
                    {% include 'meetups/includes/meetup-item.html' with title=meetup_item.title location='New York' image=meetup_item.image.url slug=meetup_item.slug %}

                {% endfor %}
            </ol>
        </section>
        {% endblock %}
    </main>

</body>
</html>